@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
	--main-color: #2c2922;
	--secondary-color: #b8aa87;
	--tertiary-color: #0a2f29;
	--highlight-color: #7fb6ab;
	--white: #f5f5f7;
	--black: #1d1d1f;
	--main-font: "Bebas Neue", cursive;
}
header {
	color: var(--white);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	border-bottom: 1px solid var(--white);
	background-color: var(--main-color);
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.header-content {
	padding: 1rem;
	align-items: center;
	gap: 15rem;
}
#hamburger-menu {
	cursor: pointer;
	z-index: 5;
}
.navbar {
	gap: 17vw;
}
.dropdown-title {
	border-bottom: 1px solid white;
}
#dropdown {
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	gap: 1rem;
	background-color: var(--black);
	width: 10vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.dropdown-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.5rem;
	width: 100%;
}
.dropdown-list li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}
.hidden {
	display: none;
}
html,
body {
	height: 100%;
}
body {
	background: rgb(44, 41, 34);
	background: linear-gradient(
		142deg,
		rgba(44, 41, 34, 1) 30%,
		rgba(184, 170, 135, 1) 100%
	);
	background-size: auto, cover;
	font-family: var(--main-font);
}
a {
	color: var(--white);
}
/*flex classes*/
.flex {
	display: flex;
}
.flex-dir-c {
	flex-direction: column;
}
/*Hovers*/
.navbar a:hover {
	border-bottom: 1px solid var(--highlight-color);
	color: var(--highlight-color);
}
.btn:hover {
	border: 1px solid var(--highlight-color);
}
a:hover[href] {
	color: var(--highlight-color);
}
/*Socials*/
.socials-container {
	position: absolute;
	top: 40%;
	right: 1vw;
	max-width: 24px;
	max-height: 100px;
	padding: 1rem 0.5rem;
	gap: 0.5rem;
	border: 1px solid var(--white);
	border-radius: 30px;
	background-color: var(--highlight-color);
}
.socials-container a:hover {
	color: inherit;
}
/*HERO SECTION*/
section,
main {
	max-height: 100%;
	color: var(--white);
}
main {
	height: 100vh;
}
#about {
	height: 100vh;
}
.landing-content {
	padding-top: 3.5rem;
	justify-content: space-around;
}
.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}
.hero {
	height: 800px;
	width: auto;
}
.hero-btn-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}
.logo {
	height: auto;
	max-width: 210px;
	align-self: center;
}
.btn,
.inverted-btn {
	padding: 0.7rem 2rem;
	border: 1px solid var(--white);
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-family: var(--main-font);
	cursor: pointer;
}
.inverted-btn {
	color: var(--black);
	background-color: var(--white);
}
.sponsor-banner {
	margin-top: -0.3rem;
	width: 100%;
	background-color: var(--highlight-color);
	height: 8vh;
	justify-content: space-around;
	align-items: center;
}
.sponsor-banner img {
	height: 41.58px;
	width: auto;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

.highlight {
	color: var(--highlight-color);
}

#about,
#locations {
	background-color: var(--black);
}
/*Login*/

.login-main,
.register-main {
	height: 90vh;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}
#login-form,
#register-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.field input {
	padding: 0 0.5rem;
	width: 14rem;
	height: 3rem;
	background: none;
	border: none;
	border: 1px solid var(--white);
	border-radius: 6px;
	color: var(--white);
}

/*REGISTER*/

/*About section*/
.about-content {
	color: var(--white);
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
.about-text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 350px;
	gap: 1rem;
}

/*Locations*/
#locations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 3rem;
}
.slide-container {
	position: relative;
	background-color: var(--black);
	min-width: 350px;
}
slide img {
	width: 100%;
}

.slide {
	width: 100%;
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 1rem 1rem;
	color: var(--highlight-color);
	font-weight: bold;
	font-size: 1rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.slide-container {
	width: 40%;
}
.slide {
	display: none;
}
.slide img {
	vertical-align: middle;
	width: 100%;
	max-height: 700px;
}

/*Pricing*/
#pricing {
	background-color: var(--black);
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.pricing-text {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.pricing-title {
	text-align: center;
}

/*plans section*/

#plans {
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: var(--black);
	gap: 1rem;
}
.toggle-plans-container {
	padding: 1rem 3rem;
	border: 1px solid white;
	gap: 1rem;
	font-size: 1.5rem;
	border-radius: 8px;
}
.plans-active {
	border-bottom: 1px solid var(--highlight-color);
}
.toggle-plans-container a:hover {
	cursor: pointer;
}
tr:nth-child(odd) {
	background-color: #202932;
}
tr:nth-child(even) {
	background-color: #2c3845;
}
tbody {
	max-width: 458px;
}

table * {
}
th,
tr td {
	border: 1px solid white;
	padding: 1rem;
}
td {
	text-align: center;
	padding-bottom: 5px;
}
